<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../common/scripts.ejs %>
</head>
<body>
  

  <section  style="padding-bottom: px;" class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/forgetpassword" method="POST" class="bg-white shadow-md rounded pt-6 pb-8 mb-4">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
              Email
            </label>
            <input class="form__field" id="email" name="email" type="text" placeholder="Enter your email" autofocus>
          </div>
          <div class="button_cont" align="center">
            <input autocomplete="off" type="submit" class="example_f" autocomplete="off" value="PROCEED">
            <!-- <span>proceed</span></a> -->
            </div>
            <br/>
        </form>
      </div>
  </section>

  <%- include ../common/footer.ejs %>
  </body>
  </html>
