<section class="login flex justify-center pt-24">
  <div style="background-image: url();" class="w-full max-w-xs">
      <form action="/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        
         
         
          
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Username
          </label>
          <input class="form__field" id="email" value="" name="email" type="text" placeholder="Enter your email" autofocus>
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Password
          </label>
          <input class="form__field" id="password" value="" name="password" type="password" placeholder="******************">
        </div>
        
        <div class="button_cont" align="center">
          <button type="submit" class="example_f"  rel="nofollow">
          <span>Login</span></a>
          </button>
          </div>
          <br/><br/>
         <div >
          <a class="inline-block align-baseline font-bold text-sm" href="/register">
            Don't have account ?
          </a>
          <br/><br/>
          <a  class="inline-block align-baseline font-bold text-sm" href="./forgetpassword">Forget password</a>
         </div>
        </div>
      </form>
    </div>
</section>