<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../common/scripts.ejs %>
</head>
<body>
 
  
    <%-include ../common/navbar.ejs %>
  <div style="padding-top: 100px;" class= "container"">
    
      <p class="topic">Dashboard Agnet </p>
      
     
        <div class="row">
        
<!--         
          <div class="button_cont" >
            <a href="/Seller/AddItems">
            <button style="height: 80px; width: 150px;"class="example_f"  target="_blank" rel="nofollow">
            <span>Add / Delete Items</span></button>
            </a>
            </div> -->
        
            <div class="button_cont" >
              <a href="/Seller/EditItems">
              <button style=""class="example_f"  target="_blank" rel="nofollow">
              <span>Edit Items</span></button>
              </a>
              </div>
              
              <div class="button_cont" >
              <a href="/Agent/Edit/Orders">
                <button style="" class="example_f" href="add-website-here" target="_blank" rel="nofollow">
                <span>Edit Refund</span></button>
              </a>  
              </div>
                <div class="button_cont" >
                  <a href="/Agent/Static">
                  <button style="" class="example_f" href="add-website-here" target="_blank" rel="nofollow">
                  <span>Stastics</span></button>
                </a>  
                </div>
          
            <div class="button_cont">
              <a href="/Agent/Add/Orders">
              <button style="" class="example_f" href="add-website-here" target="_blank" rel="nofollow">
              <span>Orders</span></button>
            </a> 
            </div>
              <div class="button_cont" >
                <a href="/Agent/Messenger">
                <button style="" class="example_f" href="add-website-here" target="_blank" rel="nofollow">
                <span>Contact</span></button>
              </a>
                </div>
                <div class="button_cont" >
                  <a href="/Agent/Profile">
                  <button onclick="" style="" class="example_f" href="add-website-here" target="_blank" rel="nofollow">
                  <span>Change Profit</span></button>
                </a>
                  </div>
                  <div class="button_cont" >
                      <a href="/Agent/Profile">
                      <button onclick="" style="" class="example_f" href="add-website-here" target="_blank" rel="nofollow">
                      <span>Pay bill</span></button>
                    </a>
                      </div>  
  

  

  

  <%- include ../common/footer.ejs %>
   </body>  
</html>