<Html>
    <head>
        <%- include ../common/scripts %>
    </head>
    <body>
        <%- include ../common/navbar  %>
        
        <%- include ../common/footer %>

    </body>
    </Html>
