<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../common/scripts.ejs %>
</head>
<body class="">
  <div style="background-image: url(../public/images/bg.jpg)">

  
  <div class="contaimer">
      <div class="row">
          <div class="col-lg-6">
    <aside><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/Mirror.png" alt="404 Image" />
    </aside>
    </div>
    <div class="col-lg-6" >
    <main>
      <h1>In review</h1>
      <p>
        Your request is in review by admin!!!!!!!!!!!!! <em>. . . like your social life.</em><br />
        Check Your your mailbox for e-mail confirmation.
      </p>
      <a  href="/" ><p  style="text-align: center;"> You can go now!</p></a>
    </main>
    </div>
  </div>

  

</div>
<%- include ../common/footer.ejs %>
   </body>  
</html>