<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ./common/scripts.ejs %>
  
</head>
<body class="">
  

  
  <%- include ./Auth/login.ejs %>
  <%- include ./common/footer.ejs %>

  

</div>
   </body>  
</html>