
    <footer style=" bottom: 0; width: 100%; height: 60px; position: fixed; bottom: 0; position: sticky;" class=" text-white text-center text-lg-start footer navbar-fixed-bottom ">
      
      <div class="text-center p-3 " style="background-color: rgba(56, 47, 47, 0.2); position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #1abc9c;
      color: white;
      text-align: center;">
       Copyright © Bitklicks 2021 || Powered By
        <a class="text-white" href="https://devicedoctor.in/">Device Doctor.IN</a>
      </div>
      <!-- Copyright -->
    
      <!-- <p style="text-align: center; font-weight: 600; font-size: medium;"> Powered By Device Doctor Pvt. Ltd</p> -->
      
    </footer>
          